                    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>store web</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="theme-emerald"><!-- Header -->
<header class="navbar">
    <h1>Cooking Recipes</h1>
    <nav>
        <a href="/newproduct">New Product</a>
        <a href="/cart">Cart</a>
        <a href="/orders">My Orders</a>
        <a href="/newuser">New User</a>
    </nav>
</header>

<!-- Products -->
<section class="product-container">
    <% for(let i = 0; i < product.length; i++) { %>
        <div class="product">
            <img src="<%= product[i].image %>" alt="<%= product[i].name %>">
            <h3><%= product[i].name %></h3>
            <p class="description"><%= product[i].description %></p>
            <p class="price"><%= product[i].price %> EGP</p>

            <div class="actions">
                <a class="edit" href="/editproduct/<%= product[i]._id %>">Edit</a>
                <a class="delete" href="/deleteproduct/<%= product[i]._id %>">Delete</a>
                <a class="details" href="/details/<%= product[i]._id %>">Details</a>
            </div>
        </div>
    <% } %>
</section>

</body>
</html>
