<!DOCTYPE html>
<html>
<head>
    <title>shop page</title>
    <style>
        .product {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            display: inline-block;
            width: 200px;
            text-align: center;
        }
        
    </style>
</head>
<body>
    <div>

        <h1   style=" background-color: aquamarine;     height: 80px;"  >Cooking Recipes</h1>
        
        <p ><a href="/newproduct">newproduct</a></p>
        <p ><a href="/newproduct">cart</a></p>
        <p ><a href="/newproduct">my orders</a></p>



    </div>
    <div class="product-container">
        <% for(let i = 0; i < product.length; i++) { %>
            <div class="  product  ">
                <h3><%= product[i].name %></h3>
                <img src=" <%= product[i].image %> " alt="<%= product[i].image %>"    style="width: 100px; height:100px;">
                <p><%= product[i].description %></p>
                <p><%= product[i].price%></p>
                

                <h5><a href="/editproduct/<%= product[i]._id %>">edit product</a></h5>
                <h5><a href="/deleteproduct/<%= product[i]._id %>">delete   product </a></h5>
                <h5><a href="/details/<%= product[i]._id %>">details</a></h5>
            </div>
        <% } %>
    </div>
</body>
</html>