<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="/css/add-product.css">
</head>
<body class="theme-emerald">
<header class="navbar">
    <h1>Edit Product</h1>
</header>

<main class="form-container">
    <form class="product-form" action="/editproduct" method="POST">

        <div class="form-control">
            <label for="name">Product Name</label>
            <input type="text" name="name" id="name" value="<%= product.name %>" required>
        </div>

        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" value="<%= product.image %>" required>
        </div>

        <!-- Image Preview -->
        <div class="image-preview">
            <img src="<%= product.image %>" alt="Product Image">
        </div>

        <div class="form-control">
            <label for="price">Price (EGP)</label>
            <input type="number" name="price" id="price" step="0.01" value="<%= product.price %>" required>
        </div>


        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5" required><%= product.description %></textarea>
        </div>

        <input type="hidden" name="_id" value="<%= product._id %>">

        <button  class="btn" type="submit">Update Product</button>

    </form>
</main>

</body>
</html>
