<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
    <link rel="stylesheet" href="/css/productdetails.css">
</head>
<body  class="theme-emerald">

<header class="navbar">
    <h1>Product Details</h1>
</header>

<main class="details-container">
    <div class="product-card">

        <img src="<%= product.image %>" alt="<%= product.name %>">

        <h2><%= product.name %></h2>

        <p class="description"><%= product.description %></p>

        <p class="price"><%= product.price %> EGP</p>

        <a href="/" class="back-btn">Go to Shop</a>

    </div>
</main>

</body>
</html>
