<!DOCTYPE html>
<html>
<head>
    <title>details</title>
   
</head>
<body>


    <main>
     <div class="product"  style="         ">
                <h1 ><%= product.name %></h1>
                <img src=" <%= product.image %> " alt="<%= product.image %>" >

                <h3><%= product.description %></h3>
                <h1><%= product.price%></h1>
                </div>
                <button > <a href="/">goshop</a></button>
    </main>
</body>
</html>